# Activity 11

In [8]:
import sqlite3

In [9]:
conn = sqlite3.connect("petsdb")

In [10]:
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

In [11]:
print(is_opened(conn))

True

In [12]:
# different age groups
cur = conn.cursor()
for people, age in cur.execute("SELECT count(1), age FROM persons GROUP BY age"):
    print("{} People in age {} group".format(people,age))

2 People in age 5 group
1 People in age 6 group
1 People in age 7 group
3 People in age 8 group
1 People in age 9 group
2 People in age 11 group
3 People in age 12 group
1 People in age 13 group
4 People in age 14 group
2 People in age 16 group
2 People in age 17 group
3 People in age 18 group
1 People in age 19 group
3 People in age 22 group
2 People in age 23 group
3 People in age 24 group
2 People in age 25 group
1 People in age 27 group
1 People in age 30 group
3 People in age 31 group
1 People in age 32 group
1 People in age 33 group
2 People in age 34 group
3 People in age 35 group
3 People in age 36 group
1 People in age 37 group
2 People in age 39 group
1 People in age 40 group
1 People in age 42 group
2 People in age 44 group
2 People in age 48 group
1 People in age 49 group
1 People in age 50 group
2 People in age 51 group
2 People in age 52 group
2 People in age 53 group
2 People in age 54 group
1 People in age 58 group
1 People in age 59 group
1 People in age 60 group
1 People in age 61 group
2 People in age 62 group
1 People in age 63 group
2 People in age 65 group
2 People in age 66 group
1 People in age 67 group
3 People in age 68 group
1 People in age 69 group
1 People in age 70 group
4 People in age 71 group
1 People in age 72 group
5 People in age 73 group
3 People in age 74 group

In [13]:
# Group with hightest number of people
for people, age in cur.execute("SELECT count(1), age FROM persons GROUP BY age order by 1 DESC"):
    print("Higest people {}  in age {} group".format(people,age))
    break

Higest people 5  in age 73 group

In [14]:
# find the people with last name NULL

lastnull = cur.execute("SELECT first_name FROM persons WHERE last_name is null")
for row in lastnull:
    print(row)

('Erica',)
('Jordi',)
('Chasity',)
('Gregg',)
('Cary',)
('Francisca',)
('Raleigh',)
('Maria',)
('Mariane',)
('Mona',)
('Kayla',)
('Karlie',)
('Morris',)
('Sandy',)
('Hector',)
('Hiram',)
('Tressa',)
('Berry',)
('Pearline',)
('Maynard',)
('Dorian',)
('Mylene',)
('Lafayette',)
('Tara',)
('Destiny',)
('Lesly',)
('Perry',)
('Maritza',)
('Grant',)
('Laury',)
('Name',)
('Estefania',)
('Destiney',)
('Jaquelin',)
('Alfonzo',)
('Lisandro',)
('Priscilla',)
('Elenora',)
('Rudolph',)
('Ona',)
('Rebeca',)
('Sigurd',)
('Alice',)
('Dane',)
('Judge',)
('Allene',)
('Jalen',)
('Myron',)
('Travon',)
('Shayna',)
('Myah',)
('Letha',)
('Felton',)
('London',)
('Koby',)
('Golden',)
('Anissa',)
('Sid',)
('Ernesto',)
('Josianne',)

In [15]:
# people with more than one pet
morethan1pet = cur.execute("SELECT COUNT(1) FROM (SELECT count(1) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in morethan1pet:
    print(" {} People has more than 1 pet".format(row[0]))

 43 People has more than 1 pet

In [16]:
#Find How many pets recevived Treatment

ptreat= cur.execute("select count(1) FROM pets WHERE treatment_done=1")
for row in ptreat:
    print(" {} pets received treatment".format(row[0]))

 36 pets received treatment

In [17]:
# teratment received and type of pet is known

ptreat= cur.execute("select count(1) FROM pets WHERE treatment_done=1 AND pet_type IS NOT NULL" )
for row in ptreat:
    print(" {} pets received treatment where pettype is known ".format(row[0]))

 16 pets received treatment where pettype is known

In [18]:
# pets from 'east port'
pcity = cur.execute("select count(1) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city ='east port'")
for row in pcity:
    print("{} pets are from 'east port' city".format(row[0]))

49 pets are from 'east port' city

In [19]:
# pets from 'east port and received treatment'
pcity = cur.execute("select count(1) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city ='east port' and pets.treatment_done=1")
for row in pcity:
    print("{} pets are from 'east port' city and received treatment".format(row[0]))

11 pets are from 'east port' city and received treatment

In [22]:
conn.close()